<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestWipro" parallel="classes">
  <test name="CrossBrowsers">
    <classes>

      <class name="Webdriver.TestFirefox"/>
      <class name="Webdriver.TestIE"/>
    </classes>
  </test> <!-- CrossBrowsers -->
</suite> <!-- TestWipro -->
